:root {
  box-sizing: border-box;
  --main-light-color: #ffff;
  --main-dark-color: #000;
  --main-background-color: #f6f6f6;
  --gray-main-background: #7e847f;
  --main-cont-background: #f8f8f8;
  --main-render-background: #e8e8e8;
  --workout-backgroun: #ffffff;
  font-size: 16px;
  line-height: 1.4;
}

:root body.dark-mode {
  --main-light-color: #000;
  --main-dark-color: #f6f6f6;
  --main-background-color: rgb(7, 1, 61);
  --main-cont-background: rgb(11, 2, 83);
  --main-render-background: rgb(11, 2, 83);
  --gray-main-background: rgb(11, 2, 83);
  --workout-backgroun: rgb(15, 3, 104);
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-light-color-color);
  background-color: var(--main-background-color);
  margin: 0;
  padding: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
ol {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #ffff;
}

button {
  border: none;
  cursor: pointer;
  text-align: center;
}
